html {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-weight: 500;
    font-family: "Helvetica Neue","Segoe UI","Hiragino Sans",Meiryo,sans-serif;
    line-height: 1.83;
    background-color: #fcfaf2;
    color: #333;
}
