html {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-weight: 500;
    font-family: "Helvetica Neue","Segoe UI","Hiragino Sans",Meiryo,sans-serif;
    line-height: 1.83;
    // background-color: #fcfaf2;
    background-color: #F0F1F2;
    color: #333;
}

.l-container {
  margin: 0 auto 3em;
  max-width: 1296px;
}

// content
// max-width 1296
// padding-right padding-left 48px;
// #4B89BF
// #739CBF
// #A3BFD9
// #0367A6
// #F0F1F2